<app-slider [nombre]="'Sección de Musica.'" [size]="'small'"></app-slider>

<div class="center">

    <section id="content">

        <div id="favorita"*ngIf="favorita">
            
            <h2 class="subheader">
                Cancion favorita
            </h2>
            <h4>{{favorita.title | uppercase}}</h4>
            <p>{{favorita.test | lowercase}}</p>
            <p>{{favorita.year | espar}}</p>
            <p>{{this.fechaTest | date:'full'}}</p>
            <p>{{this.fechaTest | date:'short'}}</p>
            <p>{{this.fechaTest | date:'fullDate'}}</p>
            <p>{{this.fechaTest | date:'dd/MM/yyyy'}}</p>
        </div>

        <h1 class="subheader">Musica</h1>


        <!-- Extra
        <h2>{{titulo}}</h2>
        <button (click)="cambiarTitulo()">Pulsame</button>

        <hr>

        <h2>Mostrar primera cancion</h2>
        {{canciones[0].title}}

        <hr>

        <h2>Numero de canciones</h2>

        <div *ngIf="canciones.length <= 3">
            Hay pocas canciones
        </div>

        <div *ngIf="canciones.length > 3">
            Hay muchas canciones
        </div>


        {{canciones.length}}

        <hr>

        <h2 class="subheader">Lista de peliculas</h2>
        -->


        <div id="articles" *ngIf="canciones">
            <!-- Añadir articulos JS -->
            <div *ngFor="let cancion of canciones; let i = index;">
                <app-cancion
                    [cancion]="cancion"
                    (marcarFavorita)="mostrarFavorita($event)"
                ></app-cancion>
            </div>
        </div>

    </section>

    <app-sidebar></app-sidebar>
</div>