
<header id="header">
    <div class="center">
        <!-- Logo -->
        <div id="logo">
            <img src="assets/images/angular_logo.svg" alt="Logotipo" class="app-logo">
            <span id="brand">
                <strong>Brus</strong>CG
            </span>
        </div>

        <!-- Menu -->
        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a>
                </li>
                <li>
                    <a [routerLink]="['/formulario']" [routerLinkActive]="['active']">Formulario</a>
                </li>
                <li>
                    <a [routerLink]="['/musica']" [routerLinkActive]="['active']">Musica</a>
                </li>
                <li>
                    <a [routerLink]="['/pruebas-pagina']" [routerLinkActive]="['active']">Pruebas</a>
                </li>
            </ul>
        </nav>

        <!-- Limpiar flotados -->
        <div class="clearfix"></div>
    </div>
</header>